

.band {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    overflow: auto;
  }
  @media (min-width: 30em) {
    .band {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 60em) {
    .band {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    top: 0;
    min-height: 100%;
    border-bottom:3px solid black;
    border-bottom-width: 50%;
    background: rgba(255, 255, 255, 0.815);
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .card:hover, .card:focus {
    top: -2px;
    font-style: normal;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  .card article{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    justify-content: space-between;
  }
  .card h1 {
    font-size: 14px;
    margin: 0;
    color: #333;
  
  }
 

  .card p {
   color:black;
   font-size: 12px;
   font-weight: bold;
   margin:10px 0 0;
 
   line-height: 1.4;
   flex: 1;
  }
  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: .5em 0 0 0;
  }

  .card img {
    width: 100%;
 }

.websites .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100%;
  background: rgba(255, 255, 255, 0.815);
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  top: 0;
  transition: all 0.1s ease-in;
}

.websites article{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
    justify-content: space-between;
  }

.websites .card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
    border-bottom:2px solid black;
  }

.websites .card article{
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item-6  {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    max-width:400px;
    border-bottom:3px solid black;
    border-bottom-width: 50%;
    background: rgba(255, 255, 255, 0.815);
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width:100%;
    text-align: center;
    margin:0 auto 0;
   
  }

  .item-6 img {
  max-width:400px;
    width:100%;
   
  }

  /*.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
 */

 