

/**** @Photo sizes ****/
/*
	Thumbnail sizes

	Denver Public Library:160px in the long dimension.
	Cali Digital Library:150-200px for each dimension.
    Picture Australia:	 150px in the long dimension.
    DeviantArt:			 150px in the long dimension.
    Flickr:				 240px in the long dimension, or 75×75. It also applies unsharp mask to them.
    Picasa:				 144px in the long dimension, or 160×160 album thumbnails.
	Internet archive:	 150x200px
	vignette:			 250px in the long dimension.
	my standard: 		 200x266.6px
*/

/* @GIMP: 600x800px */
.gimp-img{
	width:600px;
	height:800px;
}
/*@end*/

/*@Cali digital library: 800-3000px in the long dimension*/
/*@end*/

/*@end photo sizes*/
.favicon{
	width:16px;
	height:16px;}


/* @Thumbnail sizes*/

.mythmb{
	width:200px;
	height:267px;}

.cali-thmb1{
	width:150px;
	height:150px;}

.cali-thmb2{
		width:200px;
		height:200px;}



.denver-thmb{
	width:160px;
}



.avatar{
	width:75px;
	height:75px;}


