
/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(129, 97, 97, 0.116);
}
*/
.grid-container {
    columns: 5 200px;
    column-gap: 1.5rem;
    width: 98%;
    margin: 0 auto;
    text-align: center;
}
.grid-container div {
  
  
    margin: 0 1rem 1rem 0;
    display: inline-block; 
    border: 2px solid black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

  /*.grid-container div:hover img {
    filter: grayscale(0);
  }*/
   /*.grid-container div:hover {
    border-color: coral;
  }*/



.grid-container div img {
   width:200px;
    border-radius: 5px;
    

}

.grid-container div p {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-style: italic;
}

.vid-box, .img-box{
    width: 200px;
    height:200px;
}

h4{
    font-family:  Arial, Helvetica, sans-serif;
    padding:1px;
    margin:3px;
    border-bottom: 2px solid #000;
}

.group{
    display: flexbox;
    flex-wrap: wrap;
}

#isblur{
    filter:blur(0.75em);}
    
#isblur:checked + label > img{
    filter:blur(0);}

#isblur:checked + label > span{
    filter:blur(0);}

  
  
  
  
  
  