.gallery-container {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-wrap:wrap;

}

.gallery-item{
    border-bottom:1px solid black;
    width:48%;
    max-width: 250px;
    padding-bottom:10px;
    margin:4px auto 2px;
  
  }
.gallery-item video{
    transform: scaleY(70%);
    width: 100%;
    margin-bottom:-80px;
    transform-origin: top center;
  }

.gallery-item div{
height:10%;
padding-bottom:40%;

}
div h4{
    border-bottom:none;  
}

.gallery-item img{
    width: 100%;
}

.gallery-item p{
    margin:0;
    padding:0;
}

/*.gallery-container div {
    display: inline-block;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}*/

  /*.grid-container div:hover img {
    filter: grayscale(0);
  }*/
   /*.grid-container div:hover {
    border-color: coral;
  }*/



/*.gallery-container div img {
   width:160px;
   
    border-radius: 5px;
}
.scale{
    height:460px;
    transform-origin: bottom center;
    overflow: hidden;
}
.grid-container div p {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    font-style: italic;
}

*/
/* the video element target the video box not the content box */

h4{
    font-family:  Arial, Helvetica, sans-serif;
    padding:1px;
    margin:3px;
    border-bottom: 2px solid #000;
}

#isblur{
    filter:blur(0.75em);}
    
#isblur:checked + label > img{
    filter:blur(0);}

#isblur:checked + label > span{
    filter:blur(0);}
p{
    width:100%;
}
