/* Anchor selector styles */

a[href]{
	text-decoration-color: hsl(13deg,13%,67%);
	color:hsl(13deg,33%,42%);
}

a[href]:hover, a[href]:focus{

	text-decoration-color: currentColor;
	color: hsl(33deg,99%,33%);
}

a:active{
	border: .12em dashed;
	color: hsl(33deg,99%,33%);
}
/* @end */

/* @header Section styles */

#page-top {
	min-height: 8em;
	width:100%;
	mix-blend-mode: darken;
}

/* @end */


/* @navigation styles */

.navigate{
	display: flex;
	flex-wrap: wrap;
	position:fixed;
	left:0;
	top: 0;
	justify-content: right;
	font-family: "IM Fell English",Georgia,serif;
	
	z-index: 200;
	width:100%;
	background-color:antiquewhite;
	font-size: 80%;
	padding: 1em;
	margin: 0;
	border:1px solid black;
}

.navigate a[href] {
	display: block;
	padding: .5em;
	color: hsla(33deg,50%,10%,0.75);
	font-style:normal;
	
}
.navigate a {
	text-align: center;
	margin:0 10px 0;
	
}


.nav-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1em 1em 0;
	margin: 0;
	list-style: none;
	font-family: "IM Fell English",Georgia,serif;
	font-size: 40%;
}

.nav-links a {
	text-align: center;
	margin:0 10px 0;
}


.nav-links a[href] {
	display: block;
	padding: 0;
	color: hsla(33deg,50%,10%,0.75);
	font-style:normal;
}




