

/* @header Section styles */

#site-top  {

	background: url(../media/covers/sand.png) 0 150% / 120% 80% no-repeat;
	min-height: 9em;
	position: relative;
	mix-blend-mode: darken;
	margin-bottom: 50px;
}
/* @end */
#site-top a[href]  {
 
	box-sizing: border-box;
	position: absolute;
	height: 80%;
	width: 100%;
	padding: 0;
	padding-right: 0.1em;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-family: "IM Fell English", Eczar, Georgia, serif;
	font-style: italic;
	font-size: 2rem;
	font-weight: 100;
	text-decoration: none;
	color: inherit;
	line-height: 1;
	opacity: 0.75;
}
#site-top a {
text-decoration: normal;
border:none;

}

/* @navigation styles */

.navigate{
	display: flex;
	flex-wrap: wrap;
	position:fixed;
	left:0;
	top: 0;
	justify-content: right;
	font-family: "IM Fell English",Georgia,serif;
	z-index: 200;
	width:100%;
	background-color:antiquewhite;
	font-size: 80%;
	padding: 1em;


}

.navigate a[href] {
	display: block;
	padding: .2em;
	color: hsla(33deg,50%,10%,0.75);
	font-style:normal;
	
}
.navigate a {
	text-align: center;
	margin:0 10px 0;
	
}






