@import url("normalize.css");
@import url("class-image.css");
@import url("meyer-css.css");
@import url("tania-css.css");
:root {
  --font: Roboto, Body, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --mono-font: "Cascadia Code", Code, monospace;
  --rem-size: 18px;
  --line-height: 27px;
  --line-height-0_5x: calc(var(--line-height) / 2);
  --line-height-2x: calc(2 * var(--line-height));
  --line-height-3x: calc(3 * var(--line-height));
  --line-height-4x: calc(4 * var(--line-height));
  --page-margin: 1rem;
  --header-height: var(--line-height-2x);
  --header-item-padding: 0.4rem;
  --c-text: #3d454d;
  --c-bg: #f8fdff;
  --c-link: #0277bd;
  --c-active: #ef6c00;
  --c-header-bg: rgba(1, 87, 155, 0.96);
  --c-header-shadow: rgba(0, 0, 0, 0.2);
  --c-header-contrast: #01579b;
  --c-primary-bg: #01579b;
  --c-primary-text: #fff;
  --c-primary-shade: rgba(1, 87, 155, 0.15);
  --c-warning-shade: rgba(183, 28, 28, 0.15);
  --c-tag-bg: #2e7d32;
  --c-tag-text: rgba(255, 255, 255, 0.97);
  --c-tag-old-bg: #ad1457;
  --c-tag-old-text: rgba(255, 255, 255, 0.97);
  --c-ui-text: var(--c-text);
  --c-ui-bg: var(--c-bg);
  --c-shadow-1: rgba(0, 0, 0, 0.25);
  --c-shadow-2: rgba(0, 0, 0, 0.33);
  --c-ui-field-bg: rgba(0, 0, 0, 0.05);
  --c-ui-blur-underline: rgba(0, 0, 0, 0.1);
  --c-ui-focus-underline: var(--c-primary-bg);
  --c-ui-border: rgba(0, 0, 0, 0.1);
  --c-ui-focus-bg: #e6e6e6;
  --c-ui-active-bg: #d4d4d4;
  --c-ui-pressure: rgba(0, 0, 0, 0.16);
  --c-ui-knob: #fff;
  --c-tab-lines: #9fbed4;
  --c-tab-stripe: #eef3f5;
  --c-card: #f7fbff;
  --c-card-head: var(--c-primary-bg);
  --c-card-head-text: var(--c-primary-text);
  --c-nav-menu-background: #000;
  --c-jump-background: #d7d7d7;
  --z-popup: 300;
  --z-cancel: 200;
  --z-header: 1;
  --title-graphic-height: calc(10 * var(--line-height));
  --c-x-inline: var(--c-primary-bg);
  --c-x-comment: #388e3c;
  --c-x-margin: #a4ddfe;
  --c-x-string: #e3116c;
  --c-x-number: #26a69a;
  --c-x-keyword: #039be5;
  --c-x-method: #880e4f;
  --c-x-tag: #8e24aa;
}
/*
***********************
starter style sheet
***********************
*/

/* @selector styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

/* @body styles */
body {
  font-family: Arial, "Times New Roman", Times, sans-serif, serif;
  color: black;
  background-color: #fffded;
  border-style: solid;
  width: 100%;
  max-width: 960px;
  min-width: 310px;
  margin: 0 auto 0;
  border: 3px solid #931420;
  font-size: 100%;
  border: transparent;
}
/* @end */

/* @header */
header {
  /*border-bottom: 3px solid #931420;*/
  padding: 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, "SunSans Regular", sans-serif;
}
/* @end */

.current {
  border-bottom: 5px solid red;
  border-radius: 50%;
}

.logo {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -4px;
  left: 10px;
  max-width: 44px;
}

.logo img {
  width: 100%;
}

.btn1 {
  border: 2px solid black;
  background-color: blue;
}

a:any-link.btn1 {
  color: white;
  padding: 2px;
  border-radius: 20%;
  font-size: 0.7rem;
}

.note {
  border: 1px solid #000;
  background-color: rgba(164, 164, 238, 0.815);
  max-width: 480px;
  padding: 10px;
  margin: 10px 0;
}

.note p,
.note li {
  margin: 10px;
  width: 95%;
}

.ppl img {
  margin: 0px 5px 5px;
  padding: 0;
  float: left;
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0);
  border-top: 5px dashed rgb(202, 16, 16);
  border-bottom: none;
  border-right: none;
}

.preview img {
  margin: 0px 5px 5px;
  padding: 0;
  float: left;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
}

.preview p {
  margin-bottom: 15px;
}
.preview span {
  display: block;
  overflow: auto;
}

article img {
  max-width: 600px;
  width: 98%;
}

p,
article p {
  width: 98%;
}
audio {
  max-width: 270px;
  width: 100%;
}
/* @end */

/* @anchor element events styles */

a {
  font-weight: bold;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:active {
  border: 1px dashed black;
}

a:hover,
a:focus {
  font-style: italic;
}

/* @end */

code p {
  border: 1px solid black;
  background-color: rgba(126, 125, 125, 0.185);
}

kbd {
  background-color: #f7f7f7;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 2px #fff;
  color: #333;
  display: inline-block;
  font-family: "Helvetica Neue", Inter, -apple-system, BlinkMacSystemFont,
    Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
  font-size: 14px;
}

/* footer */

footer {
  margin-top: 0em;
  /*border-top: 3px solid #931420;*/
  clear: both;
  background: url(../media/page-decor/love.png) 50% 95% / 4em auto no-repeat,
    linear-gradient(-1deg, rgba(0, 0, 0, 0.2), 33%, transparent 90%), #efecee;
  padding: 0 0 3em;
}

#sig {
  margin-top: 50px;
  text-align: right;
}

/* @end */

/* @TEST */
#article-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
}
#article-list.ascending {
  flex-direction: column-reverse;
}
article-summary:focus-within,
article-summary:hover {
  background-color: var(--c-primary-shade);
  border-left-color: var(--c-link);
}
article-summary {
  display: block;

  margin-top: 0;
  margin-bottom: var(--line-height);
  padding: var(--line-height-0_5x);
  margin-left: calc(-1 * var(--line-height-0_5x));
  margin-right: calc(-1 * var(--line-height-0_5x));
  background-color: inherit;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  border-left: 4px solid transparent;
}
article-summary > div {
  display: flex;
}
article-summary > div > div:first-child {
  position: relative;
  background: var(--c-link);
  border-radius: 50%;
  border: 2px solid var(--c-link);
  width: 90px;
  height: 90px;
  margin-right: 1rem;
  flex: 0 0 auto;
  transition: border-color 0.3s;
}
article-summary > div > div:first-child > img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: grayscale(0.8);
  transition: filter 0.3s;
}
article-summary:focus-within,
article-summary:hover {
  background-color: var(--c-primary-shade);
  border-left-color: var(--c-link);
}
article-summary:focus-within > div > div:first-child,
article-summary:hover > div > div:first-child {
  border-color: var(--c-active);
}
article-summary > div > div > a:first-child,
article-summary:focus-within > div > div > a:first-child,
article-summary:hover > div > div > a:first-child {
  color: var(--c-active);
}
article-summary:focus-within > div > div:first-child > img,
article-summary:hover > div > div:first-child > img {
  filter: grayscale(0);
}

.lead {
  font-weight: 300;
}
p.lead {
  font-size: 1.2rem;
  font-style: italic;
}

@media (prefers-reduced-motion: reduce) {
  .reducible-motion {
    animation-delay: 0s !important;
    animation-duration: 0.1ms !important;
    transition-delay: 0s !important;
    transition-duration: 0.1ms !important;
  }
}
jump-to-top {
  background: var(--c-jump-background)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 16'%3E%3Cpath fill='%23fafafa' d='M10 10l-1.5 1.5L5 7.75 1.5 11.5 0 10l5-5z'%3E%3C/path%3E%3C/svg%3E")
    center/32px 32px no-repeat;
  cursor: pointer;
  position: fixed;
  right: var(--line-height);
  bottom: var(--line-height-2x);
  z-index: var(--z-header);
  width: 52px;
  height: 52px;
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-clip: content-box;
  transition-property: opacity, background-color, transform;
  transition-duration: 0.3s;
  opacity: 0;
  transform: translateY(var(--line-height-4x));
  outline: 0;
}
jump-to-top.active {
  opacity: 0.75;
  transform: translateY(0);
}
jump-to-top.active:focus,
jump-to-top.active:hover {
  background-color: var(--c-primary-bg);
  opacity: 0.98;
  outline: 0;
}

/* @end TEST */
