@import url("normalize.css");
@import url("start-navbar.css");
@import url("meyer-css.css");
@import url("class-image.css");

/*
***********************
starter style sheet
***********************
*/


/* @selector styles */
*{margin:0; padding:0; box-sizing:border-box;}
 .logo{

position: absolute;
margin:0;
padding:0;
top:-4px;
left:10px;
max-width:44px;

}

.note {
	border: 1px solid #000;
	background-color: rgba(164, 164, 238, 0.815);
	max-width: 480px;
	padding:10px;
	margin: 10px 0;

  }

  .note p, .note li {
	margin: 10px;
	width:95%;
  }
.ppl img {
margin:5px;
padding:0;

	float: left;

}
/*
.avatar{
	border-radius: 50%;
	border:10px solid black;
	border-top:none;
	border-bottom: none;
	border-right: none;
}
*/

html{background-color: white;}
/* @body */
body {
	font-family: Arial, "Times New Roman", Times, sans-serif, serif;
	color: black;
	background-color: #fffded;
	border-style: solid;
	width:99%;
	max-width:960px;
	min-width: 320px;
	margin: 0 auto 0;
	border: 3px solid #931420;
	font-size: 100%;
	}
/* @end */

/* @header */
header{
	border-bottom: 3px solid #931420;
	padding: 2em 0;
	text-align:center;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, "SunSans Regular",sans-serif;
	}
/* @end */

/* @main styles */


main{width:100%;}

/* @end */

/* @section */
p > audio{width:100%}

audio{max-width:270px; width:100%;}
/* @end */

/* @anchor element styles */

a{font-weight:bold;}

a:link{color:blue;}

a:visited{color:purple}

a:active,  a:focus{border:1px dashed black;}

a:hover, a:focus{font-style:italic;}

/* @end */



code p{
	border:1px solid black;
	background-color:rgba(126, 125, 125, 0.185);

}

/* footer */

footer{
	margin-top:0.5em;
	padding:2em 0;
	border-top: 3px solid #931420;
	clear:both;}
	
#sig {text-align:center;}

/* @end */