@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=VT323&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap);
:root {
 --font-color:#495057;
 --dark-font-color:#1b1d25;
 --medium-font-color:#60656c;
 --light-font-color:#858b93;
 --heading-color:#343a40;
 --background:#fff;
 --light-background:#f1f4f8;
 --light-background-hover:#e1e6ed;
 --border:#d6d9de;
 --link-color:#5183f5;
 --link-color-darker:#364fc7;
 --navbar-color:#1b1d25;
 --blockquote:#edf2ff;
 --transparent-text:rgba(0,0,0,0.7);
 --transparent-bg:rgba(0,0,0,0.05);
 --light-transparent-bg:hsla(0,0%,100%,0.1);
}

html {
 color:var(--font-color);
 font-weight:400;
 font-size:1rem;
 line-height:1.5;
 background: #2ca8e6;
 margin: 0 0 0 5px;
}

section {
    margin:0;
}

section.blurb.top{
    margin-top:50px;
}
section > h2 {
 display:flex;
 align-items:center;
 font-size:1.6rem;
 margin-bottom:.5rem;
}

.container {
 max-width:825px;
 padding:0 1.5rem;
 margin-left:auto;
 margin-right:auto;
}

blockquote,dl,ol,p,table,ul {
 font-size:1.05rem;
 margin:0 0 1.5rem
}

ul {
 padding:0 1rem
}

li{
    padding:1rem 0;
}

ul li p {
 margin:0
}
ul li ul {
 padding-left:1rem;
 margin:0
}
ul li ul li {
 margin:0
}
ol li ol {
 margin-bottom:0
}

blockquote {
 margin:2rem 0;
 padding:1rem;
 background:var(--blockquote);
 font-weight:400;
 border-radius:.3rem;
 border-left:3px solid var(--link-color)
}

blockquote :last-child {
 margin:0
}


h1,h2,h3,h4,h5 {
 margin:0 0 1.5rem;
 font-weight:700;
 line-height:1.2;
 color:var(--heading-color);
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
 margin-top:3rem;
}

h1 {
 font-size:2.5rem;
 line-height:1.1;
}

h2 {
    margin-top:3rem;
    font-size:1.75rem;
    padding-bottom:.5rem;
    border-bottom:4px solid var(--light-background)
}

h2 code {
 font-size:1.75rem!important;
}

h3 {
 font-size:1.5rem;
 color:var(--font-color);
 font-weight:600;
 margin-bottom:1rem;
}

h3 code {
 font-size:1.4rem!important;
}

h4 {
 font-size:1.3rem;
 color:var(--font-color);
 font-weight:500;
 border-bottom:2px solid var(--light-background);
 padding-bottom:.25rem;
}

h4,
h5 {
 margin-bottom:1rem;
}

h5 {
 font-size:1.2rem;
}

header h1 {
	font-size: 2rem;
	font-weight: 600;
	margin-top: 1rem;
}

header h1 {
	display: inline-block;
}
.blurb{
 padding:2rem 0;
 background:#0004a5;
 font-family: VT323, monospace;
}

.blurb h3 {
    padding-left:1rem;
    font-size:32px;
    line-height:1;
    font-family: VT323, monospace;
}

.blurb .author-intro {
 max-width:90%;
 background-color:#bbb;
 border-color:#000;
 border-style:solid;
 border-width:.875px 2px;
 padding:6.125px 11.5px 7px 10.5px;
 box-shadow:-3.5px -7px 0 0 #bbb,2.5px 6.125px 0 0 #bbb,-3.5px 6.125px 0 0 #bbb,2.5px -7px 0 0 #bbb;
 -webkit-filter:drop-shadow(7px 8px 0 #000);
 filter:drop-shadow(7px 8px 0 black);
 margin:7px auto 10px;
}

.blurb p {
 color:#000;
 font-size:24px;
 line-height:1;
 font-weight:400;
}

.blurb a,
.blurb h3 {
 background:#000;
 color:#bbb;
 font-weight:400;
}
.blurb a {
 border-width:0;
 font-style:normal;
 /*border-bottom: 2px solid rgb(216, 136, 30);*/
}
.blurb a:hover {
 color:#fff;
 background:#04a1a1;
 font-weight:400;
    border-width:0;
  border-bottom: 3px solid white;
}

a.button2{
 border-color:#04a1a1;
 background: url(../coffee-01.gif) 50% 50% / 4em auto no-repeat, #04a1a1;
 color:#fff;
 border-radius:0;
 font-size:24px;
 padding:.25rem 0 .25rem .75rem;
 -webkit-filter:drop-shadow(7px 8px 0 #000);
 filter:drop-shadow(7px 8px 0 black);
}

a.button3{
    border-color:#04a1a1;
    background: #04a1a1;
    color:#fff;
    border-radius:0;
    font-size:24px;
    padding:.25rem .75rem .25rem .75rem;
    -webkit-filter:drop-shadow(7px 8px 0 #000);
    filter:drop-shadow(7px 8px 0 black);
}

.avatar {
	display:none;
	max-width:100px;
	margin-right:1rem;
}
/* @anchor styles */
a {
 color:var(--heading-color);
 text-decoration:none;
 font-weight:600;
 border-bottom:3px solid #b9cdfb;
}
a:hover {
    color:#101010;
    border-bottom:3px solid #96b4f9;
   }

main {
 margin-top:0px;
}

.footer-links{
 align-items:center;
 justify-content:center;
 display:flex;
 flex-wrap:wrap;
 padding:1rem 0;
}

.footer-links a, .social-links a {
 border-radius:.35rem;
 font-weight:400;
 font-size:1rem;
 border:1px solid transparent;
 padding:.5rem;
 margin:0 .5rem;
 color:var(--light-font-color)
}
 .footer-links a:hover {
 color:var(--heading-color);
 background:var(--light-background)
}

.social-links img {
 height:30px;
 width:30px
}


